{% extends 'base.html' %}

{% block body %}

<h2>{{ title }}</h2>
<h2>{{ user }}</h2>

<form method='POST' action='/add?current_page={{current_page}}'>
<table>
<tr><td>TITLE:</td><td><input name='title' type='TEXT' width='60'></td></tr>
<tr><td>TEXT:</td><td><input name='text' type='TEXT' width='60'></td></tr>
</table>
<p>When you're ready, click this button:</p>
<p><input value='Add' type='SUBMIT'></p>
</form>

{% endblock %}
