<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="static/style.css" />
    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>
