{% extends 'base.html' %}

{% block body %}

<h2>{{ title }}</h2>

<form method='POST' action='/login'>
<table>
<tr><td>Login:</td><td><input name='login' type='TEXT' width='60'></td></tr>
<tr><td>Password:</td><td><input name='password' type='TEXT' width='60'></td></tr>
</table>
<p><input value='Login' name='button' type='SUBMIT'></p>
</form>

<p><a href='/registration'>No account?</a></p>



{% endblock %}