{% extends 'base.html' %}

{% block body %}

<h2>{{ title }}</h2>
<h2>{{ user }}</h2>
<h3> page: {{ p.current_page+1 }}</h3>
<br>

    {% for item in list %}
		<table>
		<tr><td width="700" height="10">{{item['title']}}</td><tr>
		<tr><td width="800" height="10" colspan="2">{{item['text']}}</td></tr>
		</table>
		<br>
    {% endfor %}

<br>

<table >
<tr>
<td><p><input value='Prev' type='SUBMIT' onclick="location.href='/move?current_page={{p.prev()}}'"></p></td> 
<td><p><input value='Next' type='SUBMIT' onclick="location.href='/move?current_page={{p.next()}}'" ></p></td>
<td><p><input value='Remove' type='SUBMIT' onclick="location.href='/remove?current_page={{p.current_page}}'"></p></td>
<td><p><input value='Add' type='SUBMIT' onclick="location.href='/add?current_page={{p.current_page}}'"></p></td>
<td><p><input value='Logout' type='SUBMIT' onclick="location.href='/logout'"></p></td></tr>
</table>



{% endblock %}
