{% extends 'base.html' %}

{% block body %}

<h2>{{ title }}</h2>

<form method='POST' action='/registration'>
<table>
<tr><td>Login:</td><td><input name='login' type='TEXT' width='60'></td></tr>
<tr><td>Password:</td><td><input name='password' type='TEXT' width='60'></td></tr>
</table>
<p><input value='Registration' name='button' type='SUBMIT' ></p>
</form>

{% endblock %}