{% extends 'base.html' %}

{% block body %}

<h2>{{ title }}</h2>
<h2>{{ user }}</h2>

<form method='POST' action='/remove?current_page={{p.current_page}}'>

    {% for item in list %}
		<table>
		<tr><td>TITLE</td><td width="700" height="10">{{item['title']}}</td><tr>
		<tr><td>TEXT</td><td width="800" height="10" colspan="2">{{item['text']}}</td></tr>
		<tr><td>DELETE?</td><th colspan="2" ><input name={{item['id']}} type='checkbox'></p></th></tr>
		</table>
		<br>
    {% endfor %}

<p><input value='Remove' type='SUBMIT'></p>
</form>

{% endblock %}
